ASAAS_API_KEY=$aact_prod_000MzkwODA2MWY2OGM3MWRlMDU2NWM3MzJlNzZmNGZhZGY6OmE5NjRmNmQ0LWNkZDktNGZkZS05ZmYyLTk0YjU2YzY0Zjg5Mzo6JGFhY2hfYzUxZDZiZjktNzM5Zi00NzgxLTk0YTYtMDgyYTAwYTg4MzQ0
URL=https://seu-site.vercel.app
GEMINI_API_KEY=sua_gemini_key_aqui
